
[Desktop Entry]
Encoding=UTF-8
Name=Link to panda01.jpg
Type=Link
URL=http://3.bp.blogspot.com/_CIRBn1Vfd2w/TM4hHdCoRSI/AAAAAAAAAZg/_D7daIVT2rA/s1600/panda01.jpg
Icon=image-jpeg
Name[en_US]=panda.jpg
